 /* Estilos para ver los grid */ 
body { background-color: #333; }

.container { background-color:#333;}

a{
	text-decoration:none;
	color: white;
}
 /* Fin */ 

 
  /* Estilos de la web */ 
.header {
	text-align: center;
	background-color:#001A0D;
	padding:10px;
}

.menu_horizontal{
	background-color:#00110D;
	
}

.menu_vertical{
	color: white;
	margin-top: 0px;
	min-height: 400px;
	background-color:#001A0D;
	padding:10px;
}

.menu_vertical ul {
	margin : 0px;
}

.menu_horizontal ul li {   /* Lista Horizontal */ 
      display: inline;  
} 

.contenido {
	color: white;
	min-height: 400px;
	background-color:#001A0D;
	padding:20px;
}
h1{
	text-align:center;
}

.footer{
	background-color:#001A00;
	color: white;
	padding:10px;
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	margin-top:13px;
	text-align:center;
}

.pagina div a{
	color:#000;
}

#map_canvas{
	width:400px; 
	height:300px; 
	float:left;
	margin:10px 18px 10px 10px;
}

.parrafo_informacion{
	font-family:Helvetica;
	color:#7AFF95;
	text-align:justify;
}

.local{
	width:300px; 
	height:200px;
	float:right;
	margin:10px 10px 10px 18px;
}

.element_style{
	position:abolute;
}

.centrado {
	text-align:center;
}
