 /* Estilos para ver los grid */ 
body { 
	background: #f8ffe8; /* old browsers */
	background: -moz-linear-gradient(top, #f8ffe8 0%, #8CF243 15%, #9EF263 36%, #a8f475 55%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8ffe8), color-stop(15%,#8CF243), color-stop(36%,#9EF263), color-stop(55%,#a8f475)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#a8f475',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #f8ffe8 0%,#8CF243 15%,#9EF263 36%,#a8f475 55%); /* opera */
}

.container {
	/*background-color:#333;*/
}

a{
	text-decoration:none;
	color: white;
}
 /* Fin */ 

 
  /* Estilos de la web */ 
.header {
	text-align: center;
	background: #b4ddb4; /* old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #008a00 7%, #008a00 23%, #005700 51%, #002400 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(7%,#008a00), color-stop(23%,#008a00), color-stop(51%,#005700), color-stop(100%,#002400)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #b4ddb4 0%,#008a00 7%,#008a00 23%,#005700 51%,#002400 100%); /* opera */
	padding:10px;
	
}


.menu_horizontal{
	background-color:#00110D;
}

.menu_vertical{
	color: white;
	margin-top: 0px;
	min-height: 400px;
	padding:10px;
}

.menu_vertical ul {
	margin : 0px;
}

.menu_horizontal ul li {   /* Lista Horizontal */ 
      display: inline;
} 

.contenido {
	color: #000;
	font:normal 92.5%/1.5 Helvetica, Arial, sans-serif;
	min-height: 400px;	
	background: #f8ffe8; /* old browsers */
	background: -moz-linear-gradient(top, #f8ffe8 32%, #DEFF93 61%, #D4FF72 78%, #dbff89 95%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,#f8ffe8), color-stop(61%,#DEFF93), color-stop(78%,#D4FF72), color-stop(95%,#dbff89)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#dbff89',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #f8ffe8 32%,#DEFF93 61%,#D4FF72 78%,#dbff89 95%); /* opera */
	padding:20px;
}

h1{
	font-family: 'Bevan', arial, serif; 
	text-align:center;
	color:#518f00;
}

.footer{
	background: #b4ddb4; /* old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #008a00 7%, #008a00 23%, #005700 51%, #002400 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(7%,#008a00), color-stop(23%,#008a00), color-stop(51%,#005700), color-stop(100%,#002400)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #b4ddb4 0%,#008a00 7%,#008a00 23%,#005700 51%,#002400 100%); /* opera */
	color: white;
	padding:10px;
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	margin-top:13px;
	text-align:center;
}

.pagina div a{
	color:#000;
}

#map_canvas{
	width:400px; 
	height:300px; 
	float:left;
	margin:10px 18px 10px 10px;
}

.parrafo_informacion{
	font-family:Helvetica;
	color:#000;
	text-align:justify;
}

.local{
	width:300px; 
	height:200px;
	float:right;
	margin:10px 10px 10px 18px;
}


.element_style{
	position:absolute;
}

.centrado {
	text-align:center;
}

.buscador_cuenta{
	float:right;
}
