label,input{
	display:block;
	padding:5px;
}

.inline{
	display:inline;
}


hr {
	margin-top:15px;
	margin-bottom:15px;
}

div.error{
	background-color:#FF8F8F;
	border: 1px solid #FF1111;
	margin-bottom:5px;
	padding:5px;
	width:275px;
}

.cuenta {
	background-color:#C6D3DA;
	padding:10px;
}

.cuenta div form {
	margin-bottom:10px;
}

.cuenta ul {
	margin-top: 0px;
	padding: 0px;
}

.cuenta ul li {
	padding : 5px;
}

.seccion {
	background-color:#E6ECEF;
	padding : 5px;
}
.color {
	background-color:#E6ECEF;
	color: black;
	padding: 5px;
}

#titulo_envio, #titulo_factura {
	text-aling: center;
}

#procesar_pedido{
	background-color:#C6D3DA;
	padding:10px;
	color: black;
}

