 .carrito {
	background:#b8f57c;
	padding:5px;
	margin:10px;

}

.carrito table {
	border: 1px solid black;
	width:100%;
	text-align: right;
	height:50px;
}

.carrito table th {
	width: 90px;
}

.carrito table tr {
	width: 90px;
}

.carrito_img {
	display:inline;	
	height:70px;
	width: 70px;
}


.boton{
	width:90px;
	height:25px;
	padding:0;
	margin:0 0 0 10px;
}

#carrito_header {
	background-color: #D9FFCC;
	margin-top:15px;
	padding: 5px;
	text-decoration:none;
	font-family:Trebuchet Ms,verdana,arial,Sans-Serif;
	size:92.5%;
    color: #000000;
}


#carrito_header img {
	vertical-align:text-top;
}

#carrito_header a {
	text-align:center;
}